
h1{
    color: blue;
    font-weight: 300;
}
.selectY{
    text-align: end;
}
select{
    border-color: blue;
    padding: 7px 28px;
    margin-top: 0.7em;
}
img{
    border: 1px solid blue;
    border-radius: 50px;
    padding: 18px 6px;
    width: 100px;
    height: 100px;
}
.etatAv{
    margin-top: 2em;
}
.studentAv, .groupAv, .briefAv{
    border: 1px solid blue;
    padding: 10px 20px 20px;
}
.studentAv .col-md-9{
    margin-top: 0.4em;
}

.etatAvSt{
    text-align: center;
}
/* @media (min-width: 768px) */
    /* body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) 
    .content-wrapper, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) 
    .main-footer, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
        transition: margin-left .3s ease-in-out;
        margin-left: unset !important;
} */

