.container{
    margin-top: 6em;
}
h1{
    color: blue;
    font-weight: 300;
}
.selectY{
    text-align: end;
}
select{
    border-color: blue;
    padding: 7px 28px;
    margin-top: 0.7em;
}
img{
    border: 1px solid blue;
    border-radius: 50px;
    padding: 18px 6px;
}
span{
    margin-left: 1em;
}
.info, .info1{
    margin-top: 1em;
}
.etatAv{
    margin-top: 2em;
}
.studentAv{
    border: 1px solid blue;
}
.etatAvSt{
    text-align: center;
}